<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>LEGO</title>

    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/home.css" rel="stylesheet"> 
    <link href="../../static/css/product.css" rel="stylesheet">

  </head>
    
  <body  class="background-pic" style="background-image:url(../../static/images/bg.jpg)">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">LEGO</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/products/">Products</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
           <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

   <div class="container theme-showcase" role="main">    
 
      
    <div class="page-header">
    <h1>
        <span class="label label-danger">Car</span>
    </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
       <div class="thumbnail">
         <a href="../../static/images/car1.jpg">
         <img src="../../static/images/car1.jpg" alt="Lights" style="width:100%">
         <div class="caption">
          <p><h4>Deluxe Train Set</h4></p>
         </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <a href="../../static/images/car2.jpg">
         <img src="../../static/images/car2.jpg" alt="Nature" style="width:100%">
         <div class="caption">
          <p><h4>Fast Car</h4></p>
         </div>
        </a>
       </div>
     </div>
     <div class="col-md-4">
      <div class="thumbnail">
       <a href="../../static/images/car3.jpg">
         <img src="../../static/images/car3.jpg" alt="Fjords" style="width:100%">
         <div class="caption">
          <p><h4>Race Kart</h4></p>
         </div>
       </a>
      </div>
     </div>
    </div>
   
    <div class="page-header">
    <h1>
        <span class="label label-success">Building</span>
    </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
       <div class="thumbnail">
         <a href="../../static/images/b1.jpg">
         <img src="../../static/images/b1.jpg" alt="Lights" style="width:100%">
         <div class="caption">
          <p><h4>Assembly Square</h4></p>
         </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <a href="../../static/images/b2.jpg">
         <img src="../../static/images/b2.jpg" alt="Nature" style="width:100%">
         <div class="caption">
          <p><h4>Ferris Wheel</h4></p>
         </div>
        </a>
       </div>
     </div>
     <div class="col-md-4">
      <div class="thumbnail">
       <a href="../../static/images/b3.jpg">
         <img src="../../static/images/b3.jpg" alt="Fjords" style="width:100%">
         <div class="caption">
          <p><h4>Winter Toy Shop</h4></p>
         </div>
       </a>
      </div>
     </div>
    </div>
 
        <div class="page-header">
    <h1>
        <span class="label label-primary">Aircraft</span>
    </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
       <div class="thumbnail">
         <a href="../../static/images/a1.jpg">
         <img src="../../static/images/a1.jpg" alt="Lights" style="width:100%">
         <div class="caption">
          <p><h4>Super Soarer</h4></p>
         </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
        <a href="../../static/images/a2.jpg">
         <img src="../../static/images/a2.jpg" alt="Nature" style="width:100%">
         <div class="caption">
          <p><h4>Twin Spin Helicopter</h4></p>
         </div>
        </a>
       </div>
     </div>
     <div class="col-md-4">
      <div class="thumbnail">
       <a href="../../static/images/a3.jpg">
         <img src="../../static/images/a3.jpg" alt="Fjords" style="width:100%">
         <div class="caption">
          <p><h4>Destiny's Shadow</h4></p>
         </div>
       </a>
      </div>
     </div>
    </div>

   </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    
  

 </body>
</html>
